@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Segundo Examen Parcial</h4>
    <h4>Carné: 2017PS651 Nombre: Gerardo Vladimir Paniagua Sandoval</h4>
</div>

<div class="gallery">
    <img src="https://2017ps651p2.blob.core.windows.net/gallery/clouds-1837129_1920.jpg" />
    <img src="https://2017ps651p2.blob.core.windows.net/gallery/fog-5038082_1920.jpg" />
    <img src="https://2017ps651p2.blob.core.windows.net/gallery/mountain-1462655_1920.jpg" />
    <img src="https://2017ps651p2.blob.core.windows.net/gallery/mountain-range-1246273_1920.jpg" />
    <img src="https://2017ps651p2.blob.core.windows.net/gallery/mountains-919040_1920.jpg" />
</div>