@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Segundo Examen Parcial</h4>
    <h4>Carné: 2017PS651 Nombre: Gerardo Vladimir Paniagua Sandoval</h4>
</div>
